<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ninja Gold</title>
</head>
<body>
    <header>
        <h1>Ninja Gold</h1>
        <a href="/reset"><button>Reset</button></a>
    </header>
    <h3>Your Gold: <input type="text" disabled value="{{request.session.gold}}"></h3>
    <div id="buildings">
        <div class = "farm">
            <h1>Farm</h1>
            <p>(Gain 10-20 gold)</p>
            <form action="/gold" method="post">
                {% csrf_token %}
                <input type="hidden" name="building" value="farm">
                <button>Find Gold!</button>
            </form>
        </div>
        <div class = "cave">
            <h1>Cave</h1>
            <p>(Gain 5-10 gold)</p>
            <form action="/gold" method="post">
                {% csrf_token %}
                <input type="hidden" name="building" value="cave">
                <button>Find Gold!</button>
            </form>
        </div>
        <div class = "house">
            <h1>House</h1>
            <p>(Gain 2-5 gold)</p>
            <form action="/gold" method="post">
                {% csrf_token %}
                <input type="hidden" name="building" value="house">
                <button>Find Gold!</button>
            </form>
        </div>
        <div class = "casino">
            <h1>Casino</h1>
            <p>(Gain or Lose 0-50 gold)</p>
            <form action="/gold" method="post">
                {% csrf_token %}
                <input type="hidden" name="building" value="casino">
                <button>Find Gold!</button>
            </form>
        </div>
    </div>
    <h2>Activities</h2>
    <div id="activities">
    {% for i in request.session.activities reversed %}
        <p class="{{ i.result}}">{{ i.message }}</p>
    {% endfor %}
    </div>
</body>
</html>